/*ESTRUTURA BÁSICA*/


body {
    /*ANIMAÇÃO DE SURGIR*/
    animation: appear 3s;
}

body {
    /*CONFIGURAÇÕES DE TEXTO*/
    background-color: black;
    font-family: "Nanum Gothic Coding", system-ui;
    color: white;
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 370px;
    margin: auto;
    display: block;
    cursor: pointer;
}





/*ADICIONAIS*/

.copyright {
    font-size: 13px;
    margin: 0 15% 5% 15%;
    text-align: center;
    opacity: 0.5;
    margin: 2% 450px 2% 450px;
    cursor: pointer;
}




/*BOTÃO DE PLAY*/

button {
    background-color: transparent;
    padding: 1rem;
    width: 150px;
    border: dotted white 2px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    align-content: center;
    text-align: center;
    cursor: pointer;
}


.play {
    margin: 60px 600px 40px 600px;
    align-content: center;
    text-align: center;
    opacity: 0.5;
    animation: efeitoCresceDiminuir 5s infinite;
    animation-play-state: running;
    cursor: pointer;
}

.play:hover {
    background-color: #db7d18;
    opacity: 1.0;
    transform: scale(1.1);
    animation-play-state: paused;
}







/*AUDIO MUTAR E DESMUTAR*/

.muteunmute {
    height: 30px;
    opacity: 0.2;
    position: absolute;
    right: 120px;
    top: 50px;
}

.muteunmute:hover {
    transform: scale(1.1);
    opacity: 0.4;
}

input#un-mute {
    display: none;

}

.unmute img {
    display: none;
}

input#un-mute:checked~.unmute img {
    display: initial;
}

input#un-mute:checked~.mute img {
    display: none;
}








/*ANIMAÇÕES*/

@keyframes appear {
    from {
        opacity: 0%;
    }

    o {
        opacity: 100%;
    }
}

@keyframes efeitoCresceDiminuir {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



/*font-family: "VT323", monospace;
font-family: "Nanum Gothic Coding", system-ui;
