/*font-family: "VT323", monospace;
font-family: "Nanum Gothic Coding", system-ui;

ESTRUTURA BÁSICA*/


body {
    background-color: black;
    font-family: "Nanum Gothic Coding", system-ui;
}

p,
h1,
h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}





/*BASE DO PROJETO*/


.logo img {
    height: 350px;
    margin: auto;
    display: block;
}



.play:hover {
    background-color: #db7d18;
    opacity: 1.0;
    transform: scale(1.1);
}

.play {
    font-family: monospace;
    font-size: 10px;
    font-weight: lighter;


    border: dotted white 2px;
    margin: 70px 600px 0 600px;
    align-content: center;
    text-align: center;
    opacity: 0.5;
    animation: efeitoCresceDiminuir 2s infinite;
    animation-play-state: running;
}

.play:hover {
    animation-play-state: paused;
}

@keyframes efeitoCresceDiminuir {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.copyright {
    font-size: 13px;
    margin: 60px 0 0 0;
    text-align: center;
    opacity: 0.5;
}




.navbar {
    display: flex;
    align-items: center;
    font-weight: bolder;
    text-align: center;
}

.navbar a {
    margin: 60px 0 0 60px;
    opacity: 0.5;
}

.navbar a:hover {
    color: #db7d18;
    transform: scale(1.2);
    opacity: 1.0;
}